/* Paramètres de la police d'écriture choisi*/
h1,
h2,
h3,
p,
.btn,
a,
.sthover {
  font-family: 'Roboto', sans-serif;
}

/* Paramètres des titres 1*/
h1 {
  color: #6F1D1B;
  font-weight: 600;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;

}

/* Paramètres des titres 2*/
h2 {
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
  margin-bottom: 20px;
  margin-top: 0px;
  text-align: center;
  text-transform: none;
}

/* Paramètres des textes*/
p {
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
  text-transform: none;
}

/* Paramètres des sous-titres de la gallery dans index */
.sthover {
  text-transform: uppercase;
  font-weight: bold;
}


/* Met en gras le texte dans la barre du menu de la page qui correspond à celle où se trouve l'utilisateur*/
.portfolioactif {
  color: #1C1C1C;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

/* Met en gras l'autre texte dans la barre du menu de la page qui correspond à celle où se trouve l'utilisateur*/
.contactactive {
  color: #1C1C1C;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}