/* ====== Police d'écriture ====== */
h1, h2, h3, p, .btn, a, .sthover {
  font-family: 'Roboto', sans-serif;
}

/* ====== Mode Clair (par défaut) ====== */
body {
  color: black;
  background-color: white;
  transition: background-color 0.5s ease, color 0.5s ease;
}

/* Titres */
h1{
  color: #6F1D1B;
  text-transform: uppercase;
}
h1 {
  font-size: 28px;
  font-weight: 700;
}
h2 {
  font-size: 35px;
  font-weight: 600;
  line-height: 42px;
  margin: 0 0 20px;
  text-align: center;
  text-transform: none;
}


/* Mode sombre */
body.dark-mode h2 {
  color: #D85A4D; /* Couleur en mode sombre */
}
h2 span {
  color: #6F1D1B;
}

/* Mode sombre */
body.dark-mode h2 span {
  color: #D85A4D;
}


h3 {
  font-size: 2em;
  font-weight: bold;
}

/* Paramètres des sous-titres de la gallery dans index */
.sthover {
  text-transform: uppercase;
  font-weight: bold;
}
 a .sthover{
  color: black !important;
 }

/* Met en gras l'autre texte dans la barre du menu de la page qui correspond à celle où se trouve l'utilisateur*/
.contactactive {
  color: #1C1C1C;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

/* Texte */
p {
  font-size: 19px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 2%;
}

/* Lien */
a {
  color: #6F1D1B;
  text-decoration: none;
}

/* Bouton */
.btn {
  background-color: lightgray;
  color: black;
  border: 1px solid gray;
}

/* Menu déroulant */
.dropdown-content {
  background-color: white;
  color: black;
}

/* ====== Mode Sombre ====== */
body.dark-mode {
  color: white;
  background-color: black;
}

body.dark-mode .btn-cv a{
  color: white !important;
}
body.dark-mode .btn-cv {
  background-color: #D85A4D;
} 
/* Titres et Texte */
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode .btn,
body.dark-mode a {
  color: #D85A4D !important;
}
body.dark-mode p {
  color: white;
}
body.dark-mode .highlight {
  color: #D85A4D;
}
/* Spécifique aux animations */
body.dark-mode h2 span::after {
  background: #D85A4D;
}

/* Menu déroulant */
body.dark-mode .dropdown-content {
  background-color: white;
  color: black;
}

/* Bouton */
body.dark-mode .btn {
  background-color: gray;
  border: 1px solid white;
}

/* Bouton de changement de mode */
#toggle-theme {
  background-color: #6F1D1B;
  color: white;
}
body.dark-mode #toggle-theme {
  background-color: #D85A4D;
}

/* Élément actif dans le menu */
.portfolioactif,
.contactactive {
  color: #1C1C1C;
  font-weight: 700;
  text-transform: uppercase;
}

/* Mode sombre : changement des couleurs spécifiques */
body.dark-mode .portfolioactif,
body.dark-mode .contactactive {
  color: white;
}

/* Transition douce pour un changement fluide */
h2, h3, p, .btn, a, .dropdown-content {
  transition: color 0.3s, background-color 0.3s, border 0.3s;
}
